
body{
   background-image:url("main.jpg");  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
  .permission{
    width: 20%;
    height: 88px;
    margin: 8px 0;
    border: 6px solid #DCEEDE;
    border-radius: 4px;
    box-sizing: border-box;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: 40%;
   font-size:xx-large;
   background-color:#8C8C80;

 }
 ::placeholder ,h2{
  color:#383E4A;
  font-size:xx-large;
}
